<!-- nav bar has Home file, saved articles and scrape new articles -->
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Saved Articles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" id="scrape">Scrape New Articles</a>
    </li>
</ul>


<!-- jumbotron newspaper image -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img src="https://s3.amazonaws.com/libapps/accounts/669/images/NPIMG.jpg" alt="">
        <!-- need to attach images here -->
    </div>
</div>

<div id="wrapper">
  <a href="/scrape">start scraping...</a>
   
         
      <div id="articles">  </div>
      <div id="notes"></div>
 
   

</div>